.search-results-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #28262c;
}

.search-bar-wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 5px 50px;
}

.results-content {
    flex: 1;
    padding: 10px 50px;
    padding-top: 0%;
}

.results-heading {
    font-size: 0.68rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #e0e0e0;
}

.loading-text,
.no-results-text {
    font-size: 1.1rem;
    color: gray;
    text-align: center;
}
